<div class="space-y-4">
@for(book of bookList ; track book; let i = $index){



    <div class="flex justify-around bg-gray-100 p-4 rounded shadow" >
      <p class="w-1/4 text-lg font-semibold text-blue-800">{{ book.title }}</p>
      <p class="w-1/4 text-md text-gray-700">{{ book.author }}</p>
      <p class="w-1/4 text-md" >
        {{ book.isRead | booleanEmo }}
      </p>
      <button (click)="book.toggleReadStatus()"
      class="w-1/4 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
      >
        {{book.isRead ? "pas lu": "lu"}}
      </button>
    </div>
}
</div>
<section>
    <section>
        <form  class="max-w-sm mx-auto" (ngSubmit)="addBook()">
            <h3>Ajouter un livre</h3>

            <div class="nb-5">
                <label for="name">Title</label>
                <input type="text" id="name" name="name" [(ngModel)]="newBook.name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
            </div>
            <div>
                <label for="author">Author</label>
                <input type="text" id="author" name="author" [(ngModel)]="newBook.author"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
            </div>
            <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >Ajouter</button>
        </form>

    </section>
</section>
  